.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-width {
    width: 100%;
}

.width-150 {
    width: 150px;
}

.width-200 {
    width: 200px;
}

.margin-top-4 {
    margin-top: 4px;
}

.spacer {
    height: 8px;
    width: 8px;
}

@media (min-width: 1000px) {
    .auto-flex {
        display: flex;
    }
}

/* 隐藏滚动条 */
.hide-scrollbar {
    .el-scrollbar__bar {
        display: none !important;
    }
}

.tabs-center {
    .el-tabs__nav-scroll {
        display: flex;
        justify-content: center;
    }
}