* {
    margin: 0;
    padding: 0;
}

html, body, #app {
    width: 100%;
    height: 100%;
}

@media (max-width: 450px) {
    .el-dialog {
        --el-dialog-width: 100%;
    }
}

@media (min-width: 451px) {
    .el-dialog {
        --el-dialog-width: 80%;
    }
}

@media (min-width: 900px) {
    .el-dialog {
        --el-dialog-width: 800px;
    }
}

.grid-container {
    display: grid;
    grid-gap: 5px;
    width: 100%;
}

@media (min-width: 450px) {
    #header {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #page {
        display: flex;
    }

    #page-size {
        margin-left: 5px;
    }
}

