name: deploy-test

on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up pnpm 10
        uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Build with Project
        run: |
          bash ./package.sh
          version=$(cat pom.xml | grep -oPm1 '(?<=<version>).*?(?=</version>)')
          echo "version=v$version" >> $GITHUB_ENV
      - name: Upload to Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: ./ani-rss-application/target/ani-rss-jar-with-dependencies.jar
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push Docker image (temurin)
        uses: docker/build-push-action@v6
        with:
          context: ./
          file: ./docker/Dockerfile
          push: true
          tags: wushuo894/ani-rss:test
      - name: Build and push Docker image (openj9)
        uses: docker/build-push-action@v6
        with:
          context: ./
          file: ./docker/Dockerfile-openj9
          push: true
          tags: wushuo894/ani-rss:test-openj9

